name: Pulumi Deploy
on:
  push:
    branches:
      - main
jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    environment: production
    concurrency: production
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - name: Setup uv
        id: setup-uv
        uses: astral-sh/setup-uv@681c641aba71e4a1c380be3ab5e12ad51f415867 # v7
        with:
          enable-cache: true
      - name: python deps
        run: uv sync --frozen
      - uses: DeterminateSystems/nix-installer-action@main
      - uses: cachix/cachix-action@0fc020193b5a1fa3ac4575aa3a7d3aa6a35435ad # v16
        with:
          name: frenchroomba
          authToken: "${{ secrets.CACHIX_AUTH_TOKEN }}"
      - name: Nix build
        run: nix build .#gcp.image .#azure.archive .#aws.archive .#aws.adapter-archive .#alicloud.archive
      - uses: "google-github-actions/auth@7c6bc770dae815cd3e89ee6cdf493a5fab2cc093" # v3
        with:
          project_id: ${{ secrets.GCP_PROJECT }}
          workload_identity_provider: ${{ secrets.GCP_DEPLOY_WORKLOAD_PROVIDER }}
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5
        with:
          role-to-assume: ${{ secrets.AWS_DEPLOY_ROLE_ARN }}
          aws-region: ${{ vars.AWS_REGION }}
      - uses: "mozillazg/alibabacloud-oidc-auth@d9e498456f92c4a18a9bce656f9caff1855e1a8a" # v1
        with:
          role-arn-to-assume: ${{ secrets.ALIYUN_DEPLOY_ROLE }}
          oidc-provider-arn: ${{ secrets.ALIYUN_PROVIDER }}
          audience: "github-actions"
          export-environment-variables: true
      - name: gcloud docker auth
        run: gcloud auth configure-docker --quiet $(gcloud artifacts locations list --flatten name --format json | jq -r '[.[] + "-docker.pkg.dev"] | join(",")')
      - uses: pulumi/actions@8582a9e8cc630786854029b4e09281acd6794b58 # v6.6.1
        with:
          command: up
          stack-name: dev
        env:
          ARM_USE_OIDC: "true"
          ARM_CLIENT_ID: ${{ secrets.AZURE_DEPLOY_CLIENT_ID }}
          ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
          PULUMI_PYTHON_CMD: "${{ github.workspace }}/.venv/bin/python"
